spring.application.name=payment-processing-api

server.port=8080

spring.datasource.url=jdbc:postgresql://localhost:5432/payment_processing
spring.datasource.username=postgres
spring.datasource.password=your_password_here

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.flyway.enabled=true

springdoc.swagger-ui.path=/swagger-ui.html

management.endpoints.web.exposure.include=health,info,metrics
management.endpoint.health.show-details=always

jwt.secret=your-super-secret-key-your-super-secret-key-99999
jwt.expiration=80000000

spring.data.redis.host=localhost
spring.data.redis.port=0000